.ui.button.toggle-menu {
    height: 70px;
    border-top-left-radius: 30rem;
    border-bottom-left-radius: 29rem;
    width: 35px;
    position: absolute;
    outline: none;
    z-index: 4;
    background-color: rgb(241, 119, 219);
    border-color: rgb(183, 182, 184);
    border-right: 0;
}
